@tailwind base;
@tailwind components;
@tailwind utilities;

/* Your custom font */
@font-face {
  font-family: 'UnifrakturCook';
  font-weight: normal;
  font-style: normal;
  font-display: swap;
  src: url('/assets/unifraktur_cook/UnifrakturCook-Regular.woff2') format('woff2'),
       url('/assets/unifraktur_cook/UnifrakturCook-Regular.woff') format('woff'),
       url('/assets/unifraktur_cook/UnifrakturCook-Regular.ttf') format('truetype');
}

@layer base {
  h1, h2 {
    font-family: 'UnifrakturCook', cursive !important;
    font-weight: normal;
  }
}

/* Example body styling using Tailwind utilities */
body {
  @apply bg-gray-900 text-gray-100 min-h-screen;
}
